#AboutPage{
    background-color: #ffffff;;
    background-image: url('../../images/about.svg');
    padding-left: 10vmax;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: 10vh;
  -moz-background-size: 100vh;
  -o-background-size: 100vh;
  background-size: 100vh;
}

.customJumbo{
  position: absolute; /* or absolute */
  background-color: #e9ecef9e;
  border-radius: 25px;
  background-position: left top;
  background-repeat: repeat;
  padding: 20px;

  #customP{
    font-size: 30px;
    color: #004085;
    font-family: 'Titillium Web', sans-serif;
  }
}  

