#ViewPage{
    background-color: #ffffff;;
    background-image: url('../../images/analyze.svg');
    padding-left: 10vmax;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: 10vh;
  -moz-background-size: 102vh;
  -o-background-size: 102vh;
  background-size: 102vh; 
}
.view{
        opacity: 0.95;
    }